<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Wu-Lock</string>
	
	<key>items</key>
	<array>
		
		<!-- [] Header -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>WULogoCell</string>
		</dict>
		
		<!-- Enabled Switch -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		
		
		<!-- [] Appearance -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		
		<!-- Image chooser -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Choose Image</string>
			<key>detail</key>
			<string>WUImageController</string>
		</dict>
		
		<!-- Style list -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Black</string>
				<string>Vibrant blur</string>
				<string>Burnt blur</string>
				<string>Original</string>
			</array>
			
			<key>validValues</key>
			<array>
				<string>white</string>
				<string>black</string>
				<string>vibrantblur</string>
				<string>burntblur</string>
				<string>original</string>
			</array>
			
			<key>key</key>
			<string>Style</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<string>white</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		
		
		<!-- [] Position -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Position</string>
			<key>footerText</key>
			<string>Negative numbers move the glyph down.</string>
		</dict>
		
		<!-- Y-offset -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Y Offset</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>key</key>
			<string>YOffset</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		
		
		<!-- [] Slide to unlock -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slide to unlock</string>
		</dict>
		
		<!-- Hide chevron -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Hide chevron</string>
			<key>key</key>
			<string>HideChevron</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		<!-- Use custom text -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use custom text?</string>
			<key>key</key>
			<string>UseCustomText</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		<!-- Set custom text -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string></string>
			<key>key</key>
			<string>CustomText</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<string></string>
			<key>placeholder</key>
			<string>Protect ya neck</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		
		
		
		
		
		<!-- [] TouchID failed -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Touch ID failure</string>
		</dict>
		
		<!-- Use custom bio fail text -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use custom text?</string>
			<key>key</key>
			<string>UseCustomBioText</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		<!-- Set custom bio fail text -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string></string>
			<key>key</key>
			<string>CustomBioText</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<string></string>
			<key>placeholder</key>
			<string>Shame on a finga</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		
		
		
		
		<!-- [] Auto-dim timeout -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto-dim timeout</string>
		</dict>
		
		<!-- Timeout -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Timeout</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>key</key>
			<string>DimTimeout</string>
			<key>defaults</key>
			<string>com.sticktron.wulock</string>
			<key>default</key>
			<string>8</string>
			<key>PostNotification</key>
			<string>com.sticktron.wulock.settingschanged</string>
		</dict>
		
		
		
		
		
		<!-- [] Support -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		
		<!-- Email -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Send me an email</string>
			<key>icon</key>
			<string>email.png</string>
			<key>action</key>
			<string>openEmail</string>
		</dict>
		
		<!-- Tweet -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Send me a tweet</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		
		
		
		<!-- [] Links -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		
		<!-- Source Code -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Source code on GitHub</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>openGitHub</string>
		</dict>
		
		<!-- website -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Check out my other work</string>
			<key>icon</key>
			<string>www.png</string>
			<key>action</key>
			<string>openWebsite</string>
		</dict>
		
		<!-- /r/jailbreak -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Jailbreak community on Reddit</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>action</key>
			<string>openReddit</string>
		</dict>
		
		<!-- Wu-Tang on Wikipedia -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Learn more about Wu-Tang Clan</string>
			<key>icon</key>
			<string>wikipedia.png</string>
			<key>action</key>
			<string>openWikipedia</string>
		</dict>
		
		
	</array>
</dict>
</plist>
