<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Wu-Lock</string>
	
	<key>items</key>
	<array>
		
		<!-- [] Header -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>WULogoCell</string>
		</dict>
		
		<!-- Enabled Switch -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>Enabled</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		
		
		<!-- [] Appearance -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		
		<!-- Image chooser -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Choose Image</string>
			<key>detail</key>
			<string>WUImageController</string>
			<key>cellClass</key>
			<string>WULinkCell</string>
		</dict>
		
		<!-- Style list -->
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>Style</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			
			<key>validTitles</key>
			<array>
				<string>White</string>
				<string>Black</string>
				<string>Yellow</string>
				<string>Vibrant blur</string>
				<string>Burnt blur</string>
				<string>Original</string>
			</array>
			
			<key>validValues</key>
			<array>
				<string>white</string>
				<string>black</string>
				<string>yellow</string>
				<string>vibrantBlur</string>
				<string>burntBlur</string>
				<string>original</string>
			</array>
			
			<key>key</key>
			<string>Style</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<string>vibrantblur</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		
		
		<!-- [] Position -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Adjust Position</string>
			<key>footerText</key>
			<string>Negative numbers move the glyph down.</string>
		</dict>
		
		<!-- Y-offset -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Y Offset</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>key</key>
			<string>YOffset</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		
		
		<!-- [] Slide to unlock -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Slide to unlock</string>
		</dict>
		
		<!-- No delay -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>No delay</string>
			<key>key</key>
			<string>NoDelay</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		<!-- Hide chevron -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Hide chevron</string>
			<key>key</key>
			<string>HideChevron</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		<!-- Use custom text -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use custom text?</string>
			<key>key</key>
			<string>UseCustomText</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		<!-- Set custom text -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string></string>
			<key>key</key>
			<string>CustomText</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<string>Protect ya neck</string>
			<key>placeholder</key>
			<string>Protect ya neck</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
			<key>alignment</key>
			<integer>1</integer>
		</dict>
		
		
		
		
		
		<!-- [] TouchID failed -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Touch ID failure</string>
		</dict>
		
		<!-- Use custom bio fail text -->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>Use custom text?</string>
			<key>key</key>
			<string>UseCustomBioText</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<true/>
			<key>cellClass</key>
			<string>WUSwitchCell</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		<!-- Set custom bio fail text -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string></string>
			<key>key</key>
			<string>CustomBioText</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<string>Shame on a finga</string>
			<key>placeholder</key>
			<string>Shame on a finga</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		
		
		
		
		<!-- [] Auto-dim timeout -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto-dim timeout</string>
		</dict>
		
		<!-- Timeout -->
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>label</key>
			<string>Timeout</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>key</key>
			<string>DimTimeout</string>
			<key>defaults</key>
			<string>com.sticktron.wu-lock</string>
			<key>default</key>
			<string>8</string>
			<key>PostNotification</key>
			<string>com.sticktron.wu-lock.settingschanged</string>
		</dict>
		
		
		
		
		
		<!-- [] Support -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		
		<!-- Email -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Send me an email</string>
			<key>icon</key>
			<string>email.png</string>
			<key>action</key>
			<string>openEmail</string>
		</dict>
		
		<!-- Tweet -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Send me a tweet</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		
		
		
		<!-- [] Links -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
		</dict>
		
		<!-- Source Code -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Source code on GitHub</string>
			<key>icon</key>
			<string>github.png</string>
			<key>action</key>
			<string>openGitHub</string>
		</dict>
		
		<!-- sticktron.com -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Check out my other work</string>
			<key>icon</key>
			<string>www.png</string>
			<key>action</key>
			<string>openSticktronWeb</string>
		</dict>
		
		<!-- /r/jailbreak -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Jailbreak community on Reddit</string>
			<key>icon</key>
			<string>reddit.png</string>
			<key>action</key>
			<string>openReddit</string>
		</dict>
		
		<!-- Wu-Tang on Wikipedia -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Learn more about Wu-Tang Clan</string>
			<key>icon</key>
			<string>wikipedia.png</string>
			<key>action</key>
			<string>openWikipedia</string>
		</dict>
		
		<!-- Wu-Tang website -->
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>WUButtonCell</string>
			<key>label</key>
			<string>Official Wu-Tang website</string>
			<key>icon</key>
			<string>icon.png</string>
			<key>action</key>
			<string>openWuTangClanWeb</string>
		</dict>
		
		
		
		<!-- [] HELP -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Help</string>
			<key>footerText</key>
			<string>To add your own images to the list, copy them to the following folder on your device:
/Library/Application Support/Wu-Lock/Custom

Files can be copied from your computer over USB using a free program like iFunBox, or over WiFi using SCP or an SFTP client.

Files must be a type that iOS supports, such as: PNG, GIF, JPG.

There is no shape or size requirement for images, so experiment away.
</string>
		</dict>
		
		
		
		<!-- [] Notes -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notes</string>
			<key>footerText</key>
			<string>Peace to the Wu-Tang Clan, Hip-Hop legends and cultural icons, celebrating their 20th anniversary!

Wu-Tang Clan are: RZA, GZA/Genius, (the late) ODB, Ghostface Killah, Method Man, Raekwon, U-God, Masta Killa and Inspectah Deck.

Thanks to whoever drew the source material I used for the glyphs.

(c) Sticktron 2015.

😈
</string>
		</dict>
		
		
	</array>
</dict>
</plist>
