Package: com.sticktron.wu-lock
Name: Wu-Lock Beta
Version: 0.9.1
Architecture: iphoneos-arm
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate, preferenceloader
Description: Custom lock glyphs for the children!
Icon: file:///Library/PreferenceBundles/Wu-LockSettings.bundle/icon@2x.png
Author: Sticktron <sticktron@hotmail.com>
Section: Tweaks
